
{% extends 'base.html' %}
{% block body %}
    <div class="container vh-100">
        <div class="row vh-100" >
            <div class="col-12 my-auto">
                <div class="card offset-sm-5 offset-md-7 offset-lg-12">
                    <h1>Flutter</h1>
                    <p> <a href = '{%url 'sign_up' %}' class="btn btn-lg btn-secondary">Sign up</a> </p>
                    <p> <a href = '{%url 'log_in' %}' class="btn btn-lg btn-secondary">Log in</a> </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    
    
    

